*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@import "./partials/variables/variable";
@import "./partials/extends/extend";

.head{
    background-color: $primary-color;
    
    
    .mediaheader{
        border-bottom: 1px solid black;
        .row{
            .logo_wrapper{
                margin: 20px;
            }
            .media_links{
                display: flex;
                
                .media_link{
                    display: flex;
                    margin-right: 55px;
                    text-decoration: none;
                    color: white;
                    font-size: 20px;
                    align-items: center;
                    font-family: $primary-font;
                    font-weight: bold;
                    .icon{
                        margin: 10px;
                        font-size: 50px;
                    }
                }
            }
            .search_login{
                justify-content: flex-end;
                align-items: center;
                padding: 16px 0;
                display: flex;
                form {
                    input{
                        background: #fff;
                        border-radius: 12px;
                        font-weight: 400;
                        font-size: 16px;
                        border: none;
                        padding: 10px 10px 10px 55px;
                        width: 220px;
                    }
                }
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 20px;
                    margin-left: 20px;
                }
            }
        }
    }
    
        .menuheader{
            .ownnavbar{
               nav{
                   a{
                       color: white;
                       padding-bottom: 16px;
                       padding-right: 30px;
                       font-weight: bold;
                   }
               }
            }
        }
    
}
main {
    .position-icons{
    list-style: none;
    background: #047eb3;
    position: fixed;
    top: 360px;
    right: 68px;
    border-radius: 12px;
    width: 52px;
    padding: 8px 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    ul{
        padding: 0;
        padding-left: 15px;
        li{
            list-style: none;
            a{
                display: inline-block;
                color: white;
                font-size: 25px;
                padding-right: 300px;
                i{
                    right: 100px;
                    margin-right: 50px;
                   
                }
                
            }
        }
    }
    }
    .main{
        width: 100%;
        margin-top: 20px;
        .container{
            .fastlinks{
                font-weight: bold;
                .fastlinkhead{ 
                    align-items: center;
                    h4{
                    font-size: 20px;
                    color: $primary-color;}
                }
                .fastnews{
                    @extend %extend-fastlinks;
                    a{
                        text-decoration: none;
                        color: $primary-color;
                    }

                }
                .fasttempirature{
                    @extend %extend-fastlinks;
                    display: flex;
                    background-color: $primary-color;
                    justify-content: flex-start;
                    align-items: center;
                    span{
                        color: white;
                        font-size: 25px;
                        margin-left: 10px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    #news{
        margin-top: 20px;
        .highlightnews{
            border-radius: 25px; 
            margin-top: 13px;
            img{
                border-radius: 25px;
            }
            .text{
                width: 75%; 
                height: 30%;
                margin-top: 250px;
                font-weight: bold;
            }
            button{
                background-color: $primary-color;
                color: white;
                border-radius: 13px;
                padding: 10px 35px;
                font-weight: bold;
                display: flex;
                justify-content: flex-end;
            }
        }
        .ownscroll{
            position: relative;
            .scroll{
                border: 1px solid #047eb3; 
                border-radius:15px;
                overflow-Y: scroll;
                position: absolute;
                height: 100%;
                padding: 15px;
                h2{
                    color: $primary-color;
                    font-size: 30px;
                }
                ul{
                    list-style: none;
                    li{
                        border: 0.5px solid $primary-color;
                        width: 90%;
                        font-size: 15px;
                        margin-top: 5px;
                        color: $primary-color;
                        text-align: left;
                        padding: 7px;
                        border-radius: 5px;

                    }
                }
               
                &::-webkit-scrollbar {
                    width: 5px;
                    height: 80px;
                  }
                  
                  /* Track */
                  &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 5px $primary-color; 
                    border-radius: 10px;
                    height: 80px;
                  }
                   
                  /* Handle */
                  &::-webkit-scrollbar-thumb {
                    background: $primary-color; 
                    border-radius: 10px;
                  }
                  
                  /* Handle on hover */
                  &::-webkit-scrollbar-thumb:hover {
                    background: #b30000; 
                  }
            }
        }
    }
    #highnews{
        .highnew {
            width: 20%;
            border-radius: 15px;
            h2{
                color: $text-color;
            }
            p{
                position: absolute;
                top:10;
                color: $text-color;
            }
            img{
                border-radius: 15px;
            }
        }
        .reklam{
            width: 20%;
            height: 200px;
        }

    }
    #livestream{
        margin-top: 30px;
        .live{
            img{
                width: 100%;
                height: 90%;
                top:0;
                border-radius: 3%;
            }
        }
        .streaming{
            ul{
                padding: 0;
                margin-top: 20px;
                li{
                    list-style: none;
                    border:1px solid $primary-color;
                    display: inline;
                    padding: 10px 25px;
                    border-radius: 5px;
                    margin-right: 15px;
                    font-weight: bold;
                    color: $primary-color;
                    cursor: pointer;
                }
            }
            
        }
        .streamtable{
            width: 100%;
            height: 75%;
            margin-top: 35px;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
    #archive{
        .archivefiles{
            text-align: center;
            color: white;
            width: 14%;
            height: 8vh;
            background-color: $primary-color;
            border-radius: 5px;
            margin-top: 20px;
            margin-right: 35px;
            font-weight: bold;
            cursor: pointer;
            padding-top: 19px;
        }
        .more{
            text-align: center;
            a{
                display: inline-block;
                color: $primary-color;
                border: 1px solid $primary-color;
                margin-top: 20px;
                width: 14%;
                height: 8vh;
                text-decoration: none;
                padding-top: 19px;
                font-weight: bold;
                border-radius: 5px;

            }
        }
    }

}
footer {
    .foot{
        background-color: $primary-color;
        margin-top: 100px;
        .logo{
            margin: 50px 0;
        }
        h6{
            color: white;
        }
        .pages{
            margin-top: 45px;
            color: white;
            p{
                font-weight: bold;
                font-size: 20px;
            }
            ul{
                padding: 0;
                li{
                    
                    list-style: none;
                    font-weight: bold;
                    margin-top: 20px;
                }
            }
        }
    }
}