*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
@import './extend';
@import './variables';
#head{
    .header{
       background-color: $primary-color;
       .logo{
           height: 10vh;
           img{
               width: 20%;
               height: 100%;
               -webkit-filter: invert(100%);
               filter: invert(100%);
           }
       }
       .mynavbar{
           color: white;
           font-weight: bold;
           cursor: pointer;
           .navbaritem{
               margin-top: 25px;
               align-items: center;
           }
       }
    }
}
main{
    #featured{ 
        background-color:#F1F1F1 ;
        .mycard{
            margin-top: 30px;
            .carddesign{
                p{
                   margin-top: 30px;
                }
                h2{
                    font-weight: bold;
                    margin-top: 10px;
                }
                a{
                   @extend %extend-btn;
                   display: inline-block;
                   
                }
            }
            
        }
    }
    #cards{
        h2{
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 50px;
        }
        a{
            @extend %extend-btn;
        }
        .mycards{
            padding-left: 50px;
           
        }
    }
    
}
footer{
    #contact{
        padding-top: 50px;
        background-color: $primary-color;
        ul{
            margin-bottom: 30px;
            li{
                background:none;
                color: white;
            }
        }
    }
}